<!DOCTYPE html>
<html>
  <head>
    <title>Movie Molly webview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}">
  </head>
<body>
<script type="text/javascript">
<!-- Include the Messenger Extensions JS SDK per https://developers.facebook.com/docs/messenger-platform/webview/extensions -->
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>
<!-- code to control closing the page on click per https://stackoverflow.com/questions/688196/how-to-use-a-link-to-call-javascript-->

<!-- attempt to post to rasa rest api -->
<script>
function UserAction() {
    var xhttp = new XMLHttpRequest();
	let json_val = JSON.stringify({
		sender: "default",
		output_channel: "facebook",
		message: "show movies starring John Hamm"
	});
    xhttp.open("POST", 'https://karmaai.ngrok.io/webhooks/rest/webhook', true);
    xhttp.setRequestHeader('Content-type', 'text/plain');
    xhttp.send(json_val);
}
</script>
<!-- REST call to FM -->
<script>
function UserAction2() {
    var xhttp = new XMLHttpRequest();
	let json_val = JSON.stringify({
		recipient: {
			id: "2557075157744451"
		},
		message: {
			text:"Sample text sent from Javascript to Facebook Messenger Feb 15, 2002"
		}
	});
    xhttp.open("POST", 'https://graph.facebook.com/v6.0/me/messages?access_token=EAAKrBDkZCQtgBAPkGlFtV4VqvcSggjDV1Sf8ClnZBmYagK4ZBQHtcZB9W5sOKBZCjRjad3ZCEZBFXo6ZACmZCzFte2xDxzHrkyKFCNEjmWuZBR72ZBxkoJiZCBFUC6ZBTgGVKLPZBE3yL7IQT86hLyEvTor4F1sb6Vg8gkBMCrQVi5QfzQuQZDZD', true);
    xhttp.setRequestHeader('Content-type', 'application/json');
    xhttp.send(json_val);
}
</script>

<!-- REST call to Rasa via injecting intent -->
<script>
function UserAction3() {
    var xhttp = new XMLHttpRequest();
	let json_val = JSON.stringify({
		include_events: "AFTER_RESTART",
		output_channel: "facebook",
		message: {
			name:"action_condition_by_movie",
			entities:{
				ranked_col:"movie",
				cast_name:"John Hamm"
			}
		}
	});
	xhttp.open("POST",'http://localhost:5005/conversations/104711304347042/execute', true);
    xhttp.setRequestHeader('Content-type', 'application/json');
    xhttp.send(json_val);
}
</script>
<!-- REST call to FM carousel -->
<script>
function UserAction4() {
    var xhttp = new XMLHttpRequest();
	var target_URL = "https://webviewfm.ngrok.io";
	var main_title = ["main title 0","main title 1","main title 2"];
	var sub_title = ["sub title 0","sub title 1","sub title 3"];
	var img = ["https://image.tmdb.org/t/p/w500/rhIRbceoE9lR4veEXuwCC2wARtG.jpg", "https://image.tmdb.org/t/p/w342/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg","https://image.tmdb.org/t/p/w342/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg"];
	let json_val = JSON.stringify({
		recipient: {
			id: "2557075157744451"
		},
		message: {
                   "attachment":{
                     "type":"template",
                     "payload":{
                       "template_type":"generic",
                       "elements":[
                          {
                           "title":main_title[0],
                           "image_url":img[0],
                           "subtitle":sub_title[0],
                           "buttons":[
                          {
                           "type":"web_url",
                           "url":"https://webviewfm.ngrok.io",
                           "title":"Movie Details",
                           "messenger_extensions": "true",
                           "webview_height_ratio": "tall"
                          }]},
                          {
                           "title":"main title 2",
                           "image_url":img[1],
                           "subtitle":"sub title 1",
                           "buttons":[
                          {
                           "type":"web_url",
                           "url":"https://webviewfm.ngrok.io",
                           "title":"Movie Details",
                           "messenger_extensions": "true",
                           "webview_height_ratio": "tall"
                          }]}                            
                        ]      
                      }
                    }
                  }
	});
    xhttp.open("POST", 'https://graph.facebook.com/v6.0/me/messages?access_token=EAAKrBDkZCQtgBAPkGlFtV4VqvcSggjDV1Sf8ClnZBmYagK4ZBQHtcZB9W5sOKBZCjRjad3ZCEZBFXo6ZACmZCzFte2xDxzHrkyKFCNEjmWuZBR72ZBxkoJiZCBFUC6ZBTgGVKLPZBE3yL7IQT86hLyEvTor4F1sb6Vg8gkBMCrQVi5QfzQuQZDZD', true);
    xhttp.setRequestHeader('Content-type', 'application/json');
    xhttp.send(json_val);
}
</script>
<!-- hardcoded carousel to FM -->
<script>
function UserAction5() {
    var xhttp = new XMLHttpRequest();
	var target_URL = "https://webviewfm.ngrok.io";
	var main_title = ["main title 0","main title 1","main title 2"];
	var sub_title = ["sub title 0","sub title 1","sub title 3"];
	var img = ["https://image.tmdb.org/t/p/w500/rhIRbceoE9lR4veEXuwCC2wARtG.jpg", "https://image.tmdb.org/t/p/w342/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg","https://image.tmdb.org/t/p/w342/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg"];
	let json_val = JSON.stringify({
		recipient: {
			id: "2557075157744451"
		},
		message: {
                        "attachment": {
                            "payload": {
                                "elements": [
                                    {
                                        "buttons": [
                                            {
                                                "messenger_extensions": "true",
                                                "title": "Movie Details",
                                                "type": "web_url",
                                                "url": "https://webviewfm.ngrok.io/",
                                                "webview_height_ratio": "tall"
                                            }
                                        ],
                                        "image_url": "https://image.tmdb.org/t/p/w342/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg",
                                        "subtitle": "'Linus Larrabee'",
                                        "title": "Sabrina(1995) REST CALL MOCKUP"
                                    },
                                    {
                                        "buttons": [
                                            {
                                                "messenger_extensions": "true",
                                                "title": "Movie Details",
                                                "type": "web_url",
                                                "url": "https://webviewfm.ngrok.io/",
                                                "webview_height_ratio": "tall"
                                            }
                                        ],
                                        "image_url": "https://image.tmdb.org/t/p/w342/btTdmkgIvOi0FFip1sPuZI2oQG6.jpg",
                                        "subtitle": "'Han Solo'",
                                        "title": "Star Wars(1977)"
                                    }
                                ],
                                "template_type": "generic"
                            },
                            "type": "template"
                        }
					}
	});
    window.json_val_copy = json_val;
	xhttp.open("POST", 'https://graph.facebook.com/v6.0/me/messages?access_token=EAAKrBDkZCQtgBAPkGlFtV4VqvcSggjDV1Sf8ClnZBmYagK4ZBQHtcZB9W5sOKBZCjRjad3ZCEZBFXo6ZACmZCzFte2xDxzHrkyKFCNEjmWuZBR72ZBxkoJiZCBFUC6ZBTgGVKLPZBE3yL7IQT86hLyEvTor4F1sb6Vg8gkBMCrQVi5QfzQuQZDZD', true);
    xhttp.setRequestHeader('Content-type', 'application/json');
	console.log("ABOUT TO PUT OUT json_val in canned FM REST call");
	console.log(json_val);
    xhttp.send(json_val);
}
</script>
<!-- Rasa REST call to set slot -->
<script>
function UserAction6() {
    var xhttp = new XMLHttpRequest();
	let json_val = JSON.stringify({"event":"slot","name":"ranked_col","value":["movies"]});
	xhttp.open("POST",'https://karmaai.ngrok.io/conversations/default/tracker/events?include_events=NONE', true);
    xhttp.setRequestHeader('Content-type', 'application/json');
    xhttp.send(json_val);
}
</script>
<!-- Rasa REST call to execute action -->
<script>
function UserAction7() {
    var xhttp = new XMLHttpRequest();
	let json_val = JSON.stringify({"name": "action_condition_by_movie"});
	xhttp.open("POST",'https://karmaai.ngrok.io/conversations/default/execute?output_channel=facebook&input_channel=facebook', true);
    xhttp.setRequestHeader('Content-type', 'application/json');
    xhttp.send(json_val);
}
</script>
<!-- Rasa REST call to set slot STEP BY STEP BY BUTTONS STEP 1-->
<script>
function CarouselSetSlot() {
    var xhttp = new XMLHttpRequest();
	let json_val = JSON.stringify({"event":"slot","name":"cast_name","value":["harrison ford"]});
	xhttp.open("POST",'https://karmaai.ngrok.io/conversations/default/tracker/events?include_events=NONE', true);
    xhttp.setRequestHeader('Content-type', 'application/json');
    xhttp.send(json_val);
	console.log("EYECATCHER");
}
</script>
<!-- Rasa REST call to execute action STEP BY STEP BY BUTTONS STEP 2 -->
<script>
function CarouselExecAction() {
    var xhttp = new XMLHttpRequest();
	xhttp.onload = function () {
    if (xhttp.readyState === xhttp.DONE) {
        if (xhttp.status === 200) {
            //console.log(xhttp.response);
            console.log("EYECATCHER4");
			//generate a JS object from the responseText
			js_json = JSON.parse(xhttp.responseText);
			alert(js_json.tracker.slots.detail_mode);
			// steps:
			// 1. convert the response back from Rasa to a JS object
			// 2. use dot notation to extract the subset of the JS object that needs to go into the FM payload
			// 3. convert the subset to a JS string
			// 4. concat subset JS string with the rest of the payload that FM requires
			// 5. 
			// get the subset of the JS object that is needed for the payload to FM
			window.js_payload_obj = js_json.tracker.events[3].data.custom;

			// need to add this structure to root of string to prepare for FM call:
			//{
			//recipient: {
			//id: "2557075157744451"
			//},
			//message: { window.js_payload_string goes here
			// }
			// 
			// get the JS string version of the JS object
			window.js_payload_str = JSON.stringify(js_json.tracker.events[3].data.custom);
			console.log("ABOUT TO PUT OUT window.js_payload_str");
			console.log(window.js_payload_str);
			// define skeleton of the FM payload outside of the payload returned by the Rasa call
			var skeleton_json_str = '{"recipient": {"id": "2557075157744451"},"message": ';
			// concat string that has the payload from Rasa in the middle
			window.payload_for_fm_str = skeleton_json_str.concat(window.js_payload_str,"}");
			// print to console
			console.log("here is payload_for_fm_str");
			console.log(window.payload_for_fm_str)
			
			console.log("EYECATCHER");
			}
		}
	};
	let json_val = JSON.stringify({"name": "action_show_carousel"});
	xhttp.open("POST",'https://karmaai.ngrok.io/conversations/default/execute?output_channel=facebook&input_channel=facebook', true);
    xhttp.setRequestHeader('Content-type', 'application/json');
    xhttp.send(json_val);
}
</script>
<!-- carousel to FM STEP BY STEP BY BUTTONS - STEP 3 -->
<script>
function CarouselToFM() {
    var xhttp = new XMLHttpRequest();
	xhttp.open("POST", 'https://graph.facebook.com/v6.0/me/messages?access_token=EAAKrBDkZCQtgBAPkGlFtV4VqvcSggjDV1Sf8ClnZBmYagK4ZBQHtcZB9W5sOKBZCjRjad3ZCEZBFXo6ZACmZCzFte2xDxzHrkyKFCNEjmWuZBR72ZBxkoJiZCBFUC6ZBTgGVKLPZBE3yL7IQT86hLyEvTor4F1sb6Vg8gkBMCrQVi5QfzQuQZDZD', true);
    xhttp.setRequestHeader('Content-type', 'application/json');
    xhttp.send(window.payload_for_fm_str);
}
</script>
<script>
function showCarouselSetSlot(actor_name) {
    var xhttp = new XMLHttpRequest();
	var json_prefix_str = '{"event":"slot","name":"cast_name","value":["';
	json_val = json_prefix_str.concat(actor_name.toLowerCase(),'"]}');
	console.log("EYECATCHER 1.1 slot set json_val is")
	console.log(json_val)
	//let json_val = JSON.stringify({"event":"slot","name":"cast_name","value":["harrison ford"]});
	xhttp.open("POST",'https://karmaai.ngrok.io/conversations/default/tracker/events?include_events=NONE', true);
    xhttp.setRequestHeader('Content-type', 'application/json');
    xhttp.send(json_val);
	console.log("EYECATCHER 1.2 end of showCarouselSetSlot");
}
</script>
<script>
function showCarouselExecAction() {
	console.log("EYECATCHER 2.1 beginning of showCarouselExecAction");
	var js_json = ""
    var xhttp = new XMLHttpRequest();
	//xhttp.onload = function () {
	xhttp.onreadystatechange = function () {
    if (xhttp.readyState === xhttp.DONE) {
        if (xhttp.status === 200) {
            //console.log(xhttp.response);
            console.log("EYECATCHER 2.2");
			// steps:
			// 1. convert the response back from Rasa to a JS object
			// 2. use dot notation to extract the subset of the JS object that needs to go into the FM payload
			// 3. convert the subset to a JS string
			// 4. create string for prefix
			// 4. concat subset JS string with prefix and suffix
			//
			//1. generate a JS object from the responseText
			js_json = JSON.parse(xhttp.responseText);
			console.log("here is xhttp.responseText");
			console.log(xhttp.responseText);
			
			//alert(js_json.tracker.slots.detail_mode);
  
			//2.  get the subset of the JS object that is needed for the payload to FM
			//window.js_payload_obj = js_json.tracker.events[3].data.custom;
			//3. get the JS string version of the JS object
			var js_payload_str = JSON.stringify(js_json.tracker.events[3].data.custom);

			//4. define skeleton of the FM payload outside of the payload returned by the Rasa call
			var skeleton_json_str = '{"recipient": {"id": "2557075157744451"},"message": ';
			//5.  concat string that has the payload from Rasa in the middle
			// window.payload_for_fm_str = skeleton_json_str.concat(window.js_payload_str,"}");
			var payload_for_fm_show_str = skeleton_json_str.concat(js_payload_str,"}");
			// print to console
			console.log("here is payload_for_fm_str");
			console.log(payload_for_fm_show_str);
			showCarouselToFM(payload_for_fm_show_str);
			console.log("EYECATCHER SLIMLINE4 - past showCarouselToFM");
			console.log("EYECATCHER 2.3 end of showCarouselExecAction()");
			}
		}
	};
	let json_val = JSON.stringify({"name": "action_show_carousel"});
	xhttp.open("POST",'https://karmaai.ngrok.io/conversations/default/execute?output_channel=facebook&input_channel=facebook', true);
    xhttp.setRequestHeader('Content-type', 'application/json');
    xhttp.send(json_val);
	console.log("EYECATCHER 2.4 end of showCarouselExecAction - here is json_val");
	console.log(json_val);
}
</script>
<script>
function showCarouselToFM(payload_for_fm_show_str) {
    var xhttp = new XMLHttpRequest();
	xhttp.onload = function () {
    if (xhttp.readyState === xhttp.DONE) {
        if (xhttp.status === 200) {
		    MessengerExtensions.requestCloseBrowser(function success() {}, function failure(err) {
			alert('error closing the window: ' + err); // error closing the window:
			console.log(err); // doesn't print
			window.close();
			});
            }
	}
	}
	console.log("EYECATCHER 3.1 start of showCarouselToFM ");
	xhttp.open("POST", 'https://graph.facebook.com/v6.0/me/messages?access_token=EAAKrBDkZCQtgBAPkGlFtV4VqvcSggjDV1Sf8ClnZBmYagK4ZBQHtcZB9W5sOKBZCjRjad3ZCEZBFXo6ZACmZCzFte2xDxzHrkyKFCNEjmWuZBR72ZBxkoJiZCBFUC6ZBTgGVKLPZBE3yL7IQT86hLyEvTor4F1sb6Vg8gkBMCrQVi5QfzQuQZDZD', true);
    xhttp.setRequestHeader('Content-type', 'application/json');
    xhttp.send(payload_for_fm_show_str);
	console.log("EYECATCHER 3.2 end of showCarouselToFM - here is window.payload_for_fm_str");
	console.log(window.payload_for_fm_str);
}
</script>
<script>
function showCarousel(actor_name) {
            
				console.log(actor_name);
				// set slot
				console.log("EYECATCHER SLIMLINE1 - past showCarouselSetSlot");
				showCarouselSetSlot(actor_name);
				console.log("EYECATCHER SLIMLINE2 - past showCarouselSetSlot");
				// execute Rasa action and prepare Rasa output for call to render in FM
				showCarouselExecAction();
				console.log("EYECATCHER SLIMLINE3 - past showCarouselExecAction");
				// render output of Rasa action in FM
				
			
          }
</script>
<script>
function showCarouselclosepage(actor_name) {
            MessengerExtensions.requestCloseBrowser(function success() {
				console.log(actor_name);
				// set slot
				console.log("EYECATCHER SLIMLINE1 - past showCarouselSetSlot");
				showCarouselSetSlot(actor_name);
				console.log("EYECATCHER SLIMLINE2 - past showCarouselSetSlot");
				// execute Rasa action and prepare Rasa output for call to render in FM
				showCarouselExecAction();
				console.log("EYECATCHER SLIMLINE3 - past showCarouselExecAction");
				// render output of Rasa action in FM
			}, 
			function failure(err) {
			alert('error closing the window: ' + err); // error closing the window:
			console.log(err); // doesn't print
			window.close();
			});
            return false;
          }
</script>

<!-- combined close and call carousel -->
<!--
<script type="text/javascript">
        // Wait for the page to load first
        window.onload = function() {

          //Get a reference to the link on the page
          // with an id of "mylink"
          var a = document.getElementById("mylink");
		  var b = document.getElementById("mylink2");
		  var c = document.getElementById("mylink3");

          //Set code to run when the link is clicked
          // by assigning a function to "onclick"
          a.onclick = function() {
            MessengerExtensions.requestCloseBrowser(function success() {}, function failure(err) {
			alert('error closing the window: ' + err); // error closing the window:
			console.log(err); // doesn't print
			window.close();
			});
            return false;
          }
		  
          b.onclick = function() {
            MessengerExtensions.requestCloseBrowser(function success() {}, function failure(err) {
			alert('error closing the window: ' + err); // error closing the window:
			console.log(err); // doesn't print
			window.close();
			});
            return false;
          }

          c.onclick = function() {
            MessengerExtensions.requestCloseBrowser(function success() {UserAction4();}, function failure(err) {
			alert('error closing the window: ' + err); // error closing the window:
			console.log(err); // doesn't print
			window.close();
			});
            return false;
          }
        }
</script>
-->
<div class="home">
<h1> {{ title.titlename }} ({{year.yearname}})</h1>
<p><b>Run Time:</b> {{ run_time.run_timename }}</p>
<img style="padding: 0 15px; float: left;" src={{poster_url.poster_urlname}} alt={{title.titlename}} width="342" height="513" border="0">
<p style="margin-top: 20px;"> </p>
<!--
<p><button type="submit" onclick="UserAction3() u">Test Rasa REST call to trigger execute 3 UserAction3</button> </p>
<p><button type="submit" onclick="UserAction">Test Rasa REST call UserAction </button> </p>
<p><button type="submit" onclick="UserAction2()">Test FM REST call UserAction2</button> </p>
<p><button type="submit" onclick="UserAction4()">Test FM REST call UserAction4 CAROUSEL b</button> </p>
<p><button type="submit" onclick="UserAction5()">Test FM REST call UserAction5 CAROUSEL JSON returned from RASA call</button> </p>
<!-- THE FOLLOWING 3 BUTTONS WORK -->
<!--
<p><button type="submit" onclick="CarouselSetSlot()">Test Rasa REST call CarouselSetSlot set slot c</button> </p>
<p><button type="submit" onclick="CarouselExecAction()">Test Rasa REST call CarouselExecAction execute action</button> </p>
<p><button type="submit" onclick="CarouselToFM()">Test Rasa REST call CarouselToFM() send payload to FM Feb 22b</button> </p>
-->
<p> <b>Rating:</b> 
<p> <b>Genres:</b> 
<!-- display genre list -->  
{% for genre in genre_list %}
<a href="javascript:closeWindow();">{{ genre.genre_listname}}</a>{% if not loop.last %}, {% endif %}
<!-- <a id="mylink" href="{{url_for('homepage', type=genre.genre_listname,category = 'genre')}}">{{ genre.genre_listname}}</a>{% if not loop.last %}, {% endif %} -->
{% endfor %}
</p>
<p> <b>Directors:</b> 
{% for director in director_list %}
<a id="mylink2" href="{{url_for('homepage', type=director.director_listname,category = 'director')}}">{{ director.director_listname}}</a>{% if not loop.last %}, {% endif %} 
{% endfor %}
</p>
<p> <b>Stars:</b> 
{% for actor in actor_list %}
<a href="javascript:showCarousel('{{ actor.actor_listname}}');">{{ actor.actor_listname}}</a>{% if not loop.last %}, {% endif %}
<!-- <a id="mylink3" href="{{url_for('homepage', type=actor.actor_listname,category = 'actor')}}">{{ actor.actor_listname}}</a>{% if not loop.last %}, {% endif %} -->
{% endfor %}
</p>
<p></p>
<p>{{ plot.plotname }}</p>
</div>
</body>
</html>